@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root{
    --color-font-1:#f5f3edf6;
    --color-font-2:#80FFDB;
    --color-font-3:#181818;
    --color-toogle:#80FFDB;
    --color-bg-1:#252525;
    --color-bg-2:#f5f3edf6;
    --color-bg-3:#f5f3ed81;
    --color-bg-4:#5008C2;
    --color-bg-5:#80FFDB;    
    --color-h1-1:#03969c;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

i{
    color:var(--color-bg-1);
}

header{
    width: 100%;
    background-color: var(--color-bg-2);
    display: flex;
    align-items: center;/*vertical*/
    position: sticky;
    justify-content: space-between;
    border-left: solid 3px var(--color-font-3);
    padding: 20px 0px 20px 0px;
    top: 0;
    box-shadow:  5px 5px 10px #b0b0b0,
    -5px -5px 10px #bababa;
    backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
z-index: 90;
    
}

.menu-logo{
    width: 20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-logo i{
    font-size: 150%;
    color: var(--color-font-3);
}




.logo-texto{
    color: var(--color-font-3);
    font-family: 'Open Sans', sans-serif;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-texto h1{
    margin-right:85px;
    font-weight: bolder;
}

.menu-lateral{
    visibility: hidden;
    height: 100%;
    display: flex;
    z-index: 100;
    justify-content: center;
    position: fixed;/*para poder sobresair sobre os outros itens*/
    align-items: flex-start;
    /*background-color: var(--color-bg-1);*/
    transition: 0.3s all ease;
    flex-wrap: wrap;
    background: linear-gradient(145deg, #212121, #282828);
box-shadow:  7px 7px 12px #242424,
             -7px -7px 12px #262626;
}

.menu-lateral .user-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--color-font-1);
}

.user-info h1{
    width: 100%;
    color: var(--color-font-1);
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.menu-lateral .user-foto{
    margin-top: 20px;
}
.menu-lateral .user-info img{
    border-radius: 100%;
    width: 100px;
    height: 105px;
    border: var(--color-font-1) solid 3px;
    background-color: var(--color-font-1);

}

.menu-lateral  .user-info .user-detalhes{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    color: var(--color-font-1);
}

.user-detalhes small{
    margin-top: -20px;
}

.menu-lateral ul{
    display: flex;
    margin-top: -35%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    width: 100%;
    /*height: auto;*/
    flex-wrap: wrap;
}

.menu-lateral ul li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0px;
    flex-direction: row;
    width: 100%;
    list-style: none;
    transition: 0.3s ease all;
}

.menu-lateral ul li a:hover{
    color:yellow;
    border-radius: 8px;
    background-color: var(--color-h1-1);

}
.menu-lateral ul li a{
    text-decoration: none;
    margin-left: 9px;
    font-size: 20px;
    text-align: center;
    color: var(--color-font-1);
}
.menu-lateral ul li i{
    color: var(--color-font-1);
    
}

.menu-lateral ul li img{
    width: 25px;
    height: 25px;
}

.menu-list{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    

}

.menu-list li{
    list-style: none;   
    display: flex; 
    justify-content: center;
    margin: 0px 15px;/*entre os itens*/
    align-items: center;

}

.menu-list li a{
    padding-left: 5px;
    text-decoration: none;
    color: var(--color-font-3);
}

.menu-list li img{
    width: 25px;
    height: 25px;
}

.estilo-rodape{
    width: 100%;
    height: 150px;
    background-color: var(--color-bg-5);
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.estilo-rodape p{
    margin-top: 15px;
    color: var(--color-font-3);
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}

.imagem{
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--color-bg-3);
    flex-wrap: wrap;
}
.imagem  img{
    width: 250px;
    height: 260px;
    border: 3px solid var(--color-font-1);
    background-color: var(--color-bg-1);
    border-radius: 50%;
    box-shadow:  5px 5px 10px #b0b0b0,
             -5px -5px 10px #bababa;
}

.imagem  p{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
    margin-top: -10vh;
    color: var(--color-font-3);
    text-align: center;
    font-weight: 800;
    
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--color-bg-2);
    color: var(--color-font-3);
    padding: 30px 10px 30px 10px;

}

#sobre-titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.sobre h1{
    margin-bottom: 10px;
    text-align: left;
    color: var(--color-h1-1);
    border-bottom: solid 2px var(--color-h1-1);
}
.sobre-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    flex-wrap: wrap;
}

.sobre-1 p{
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-top:5vh;
    text-align: left;
   
}

.sobre-imagem{
    width: 350px;
    height: 350px;
    margin-top: -20px;
}
.sobre-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.sobre-2 p{
    padding-top: 5vh;
    font-size: 20px;
    text-align: end;
    letter-spacing: 0.5px;
}


.sobre-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
}

.sobre-3 p{
    padding-top: 5vh;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.5px;
}

.sobre-4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
}

.sobre-4 p{
    padding-top: 5vh;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0.5px;
}

.formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-bg-3);
    color: var(--color-font-3);
    padding: 30px;
}

.formacao h1{
    border-bottom: solid 2px var(--color-h1-1);
    color: var(--color-h1-1);
    
}

.formacao ul{
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.formacao ul li{
    padding-bottom: 20px;
    list-style: "> ";
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-font-3);
    flex-wrap: wrap;
    background-color: var(--color-bg-2);
    padding: 10px;
}


.projetos .card-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-h1-1);
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px;
    width: 320px;
    z-index: 80;
    box-shadow:  5px 5px 10px #b0b0b0,
    -5px -5px 10px #bababa;
    backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
}

#projetos-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projetos h1{
    margin-top: 10px;
    margin-bottom: 5vh;
    text-align: center;
    border-bottom: 2px solid var(--color-h1-1);
    color: var(--color-h1-1);
}
.projetos .card-projeto img{
    width: 290px;
    border-radius: 10px;
    height: 150px;
}

.projetos .card-projeto a{
    color: var(--color-font-1);
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10vh;
    color:var(--color-font-1);
    padding: 10px;
}

.contato .contatos{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
   
    
    
}

.contato .contatos h1{
    border-bottom: 2px solid var(--color-h1-1);
    color: var(--color-h1-1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.contato .contatos ul{
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow:  5px 5px 10px #b0b0b0,
    -5px -5px 10px #bababa;
    padding: 3px;
    flex-wrap: wrap;
}

.contato .contatos ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 0px;
    align-items: center;

}
.contato .contatos ul li img{
    width: 30px;
    height: 30px;
}

.contatos ul li i{
    color: var(--color-font-3);
}

.contato .contatos ul li a{
    text-decoration: none;
    color: var(--color-font-3);
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 5px;

}

footer{
    justify-content: center;
    background-color: var(--color-bg-1);
    border: 2px solid var(--color-bg-1);
    align-items: center;
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 7vh;
    color: var(--color-font-1);
    
}

@media(min-width:800px){
    .menu-lateral{
        display: none;
    }
    .menu-logo{
        display: none;
    }
    .menu-list{
        display: flex;
    }
    .imagem{height: 100vh;}

    .card-imagem{
        flex-direction: row;
        background-color: yellow;
       
    }
    .imagem .card-imagem img{
      width: 250px;
      height: 260px;
    }

    .imagem .card-imagem p{
     margin-left: 10px;
     font-size: 40px;
     letter-spacing: 0.5px;
     width: 50%;
    }

    .projetos h1{
        width: 100%;
        text-align: center;
    }

    .card-projeto{
        width: 40vh;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
    }
    


}
